.banner-page {
    color: $secundario;
    min-height: 700px;
    padding-top: 2rem;
    .item-slider {
        align-items: center;
        display: flex;
        justify-content: space-between;
        position: relative;
        .texto-banner {
            max-width: 480px;
            h2 {
                color: $rojo;
                font-size: 3.2rem;
                font-weight: 700;
                margin-bottom: 1.5rem;
            }
            h3 {
                color: $morado;
                font-size: 2.2rem;
                font-weight: 700;
            }
            a {
                @include button-cta;
                margin: 50px auto;
                display: inline-block;
            }
        }
        .img-lateral-banner {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

#banner-home {
    .item-slider {
        .texto-banner {
            h3 {
                font-size: 3.2rem;
                margin-bottom: 0;
            }
            a {margin-left: -4rem;}
        }
    }
}
#banner-yoax {
    .item-slider .texto-banner {
        padding-top: 2rem;
        p {margin-bottom: 0;}
    }
}