#banner-home {
    background: url('../images/bg-banner.jpg') 0 0 no-repeat;
    padding-top: 150px;
    position: relative;
    @media (max-width: 991px) {
        padding-top: 180px;
        background: none;
    }    
}