/*PRIMER BLOQUE HOME*/
#descripcion-home {
    .row {
        justify-content: space-between;
    }
}

/*TERCER BLOQUE HOME*/
#descripcion-bottom-home {
    //background: url('../images/creemos-bg.png') 0 0  no-repeat $blanco;
    position: relative;
    h3 {
        color: $azul;
        &.espacio-alto {
            margin-top: 4rem
        }
    }
    .texto-del-bloque {
        padding: 3rem 15px;
        position: relative;
    }
    .fig {
        position: absolute;   
    }
    .fig1 {
        right: 0;
        top: -150px
    }
    .fig2 {
        right: 0;
        top: 0
    }
    .fig3 {
        right: 0;
        bottom: 0
    }
}

/*BLOQUE DESCUBRE*/
.slogan {
    h2 {
        color: $morado;
        font-size: 2.8rem;
        font-weight: 500;
        margin-bottom: 3rem;
        @media(max-width: 991px) {
            font-size: 2rem;
        }
        strong {
            font-weight: 500;
            font-size: 1.4em;
        }
    }
    a {
        @include button-cta;
        display: block;
        margin: 0 auto;
    }
}

.colaboramos {
    h3 {
        color: $azul;
        margin-bottom: 2rem;
    }
    .slider-colaboramos {
        .item-slider {
            align-items: center;
            display: flex;
            min-height: 170px;
            img {
                display: inline-block;
                margin: 0 auto;
                filter: grayscale(100%);
                &:hover {
                    filter: grayscale(0%)
                }
            }
        }
        .slick-prev {
            @include arrow-slide;
            &::before {
                content: url('../images/left-arrow.png');
                opacity: 1
            }
            @media (max-width: 1280px) {
                left: 15px
            }
        }

        .slick-next {
            @include arrow-slide;
            &::before {
                content: url('../images/right-arrow.png');
                opacity: 1
            }
            @media (max-width: 1280px) {
                right: 15px
            }
        }
    }
}