@mixin flexible {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@mixin reset-enlace {
    color: $principal;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
}
@mixin seccion-page {
    padding: 3rem 0;
}
@mixin titulo-seccion {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
@mixin titulo-menor-seccion {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
@mixin top-seccion {
    .top-seccion {
        margin-bottom: 4rem;
        h3 {
            @include titulo-menor-seccion;
            color: $azul;
        }
    
        p {
            font-size: 1.5rem
        }
        img {margin-top: 3rem;}
    }
}
@mixin button-cta {
    background: $fucsia;
    border-radius: 0.5rem;
    color: $blanco;
    padding: 0.8rem 1rem;
    font-size: .7em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    width: 270px;
}
@mixin arrow-slide {
    height: 50px;
    width: 30px;
    &::before {

        display: block;
        height: 50px;
        width: 30px;
    }
}