// IMPORTAR SCSS DE BOOTSTRAP

// Custom.scss
// Option B: Include parts of Bootstrap

// Required
$principal: #808080;
$secundario: #666666;
$morado: #612c80;
$blanco: #fff;
$amarillo: #deb330;
$negro: #000;
$rojo: #d20023;
$fucsia: #d20023;
$azul: #046aac;
$celeste: #e6f1f7;
$oscuro: #4d4d4d;
$verde: #25d366;

@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

// Optional
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/utilities";
@import "../bootstrap/scss/utilities/api";
@import "../bootstrap/scss/modal";
@import "../bootstrap/scss/forms";

@import "mixin";
@import "header";
@import "banner";
@import "page";
@import "inicio";
@import "footer";

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');